*{
    font-family: 'Allerta', sans-serif;
}

.fond{
    background-color:#DEDEDE;
}


/* Polices*/
.titre, h1, h2{
    font-family: 'Monoton', cursive;
}

.titre{
    font-size: x-large;
}
/* Navbar*/

.navbar-brand img{
    max-height: 40px;
}

/*Header*/


.presentation {
    min-height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2020/02/11/14/11/earphones-4839691_960_720.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    color: white;
}



.texte{
    margin-top: 15rem;
    display: flex;
    flex-wrap: wrap;

}

/*Projets */ 
.photo{
    max-width: 40em!important;
}


/*formulaire recommandation*/ 
.recommandations{
    background-image: url("https://cdn.pixabay.com/photo/2019/12/13/09/46/umbrella-4692572_960_720.jpg");
    max-width: 100%;
    align-items: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding-top: 5em;
    padding-bottom: 5em;
}

/*Contact*/ 

.contact{
    background-image: url("https://cdn.pixabay.com/photo/2019/12/13/09/46/umbrella-4692572_960_720.jpg");
    padding: 2rem;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.contacts{
    max-width: 50em!important;
    opacity: 90%;
}


/*Footer*/ 
.footer{

    width : 100%;
    bottom : 0;
    background-color: #000000!important;
    background-size: cover;
    color: rgb(255, 255, 255);
}


/*Texte header*/
blockquote { padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 18px;
    border-left: 5px solid #f8f9fa; color: #f8f9fa; }
    
blockquote.alignright { max-width: 50%; float:right;  color: #f8f9fa; text-align:right;border-right: 5px solid #f8f9fa; border-left:transparent; }

blockquote.alignleft { max-width: 50%;float:left;}


